@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    height: 100vh;
    display: flex;
}
.navbar {
    height: 100%;
    display: flex;

    flex: none;
    flex-direction: column;
    justify-content: space-between;
}
.mainWindow {
    flex: 1
}

/* For Todo Component */
.todoContainer {
  width: 100%;
  display: flex;

  justify-content: space-between;
}
.todo {
  flex: 1;
  /* text-align: center */
}
.completed {
  flex: 1;
  /* text-align: center */
}
.logging {
  flex: 1;
  /* text-align: center */
}
